include README.md
include LICENSE.txt
include requirements.*.txt
include *.cff
include requirements.txt
include tts/VERSION
recursive-include tts *.json
recursive-include tts *.html
recursive-include tts *.png
recursive-include tts *.md
recursive-include tts *.py
recursive-include tts *.pyx
recursive-include images *.png
recursive-exclude tests *
prune tests*
